@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: beige;
}

.container {
  width: 60rem;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: brown;
}

.container_filmy {
  display: flex;
  justify-content: center;

}

button {
  margin: 20px;
  padding: 10px;
  background-color: #673500;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #9f5301;
  /* změna barvy po najetí myší */
}


#movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.movie {
  text-align: center;
}

.movie__img {
  width: 100%;
}

.movie__title {
  font-size: 1rem;
  color: rgb(55, 42, 0);
  margin-bottom: 0.4rem;
}

.movie__title a {
  color: rgb(55, 42, 0);
}

.movie__year {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-weight: bold;
  color: darkgray;
}

.movie__genre {
  margin-top: 0.4rem;
  font-size: 0.8rem;
  font-style: italic;
}
